.card {
    padding-top: 20px;
    padding-left: 30px;
    gap: 20px; 
}

.card-content{
    border: solid .2px;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Oswald;
    background-color: #fff;
    width: 266px; 
}

.card img {
    width: 250px;
    height: 250px;
}

.card p, .card h2 {
    color: black;
}

.card button {
    padding: 5px;
    border: solid .2px;
    border-radius: 5px;
}

.card button:hover {
    padding: 5px;
    background-color: rgb(180, 175, 175);
    transition: .5s;
}

.articulos-title{
    font-family: Roboto Condensed;
    font-size: 2rem;
    color: black;
    padding-top: 32px;
    text-align: center;
}
